/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	border: 0;*/
/*	font-size: 100%;*/
/*	font: inherit;*/
/*	vertical-align: baseline;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*	display: block;*/
/*}*/
/*body {*/
/*	line-height: 1;*/
/*}*/
/*ol, ul {*/
/*	list-style: none;*/
/*}*/
/*blockquote, q {*/
/*	quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*	content: '';*/
/*	content: none;*/
/*}*/
/*table {*/
/*	border-collapse: collapse;*/
/*	border-spacing: 0;*/
/*}*/

/*// Import icon font, I've used Entypo (http://entypo.com/)*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/*// Import Roboto font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.my_pagination-item.my_first-number {
  border-left: 1px solid #d7dadb;
}


/*.admin-panel{*/
/*    border: 1px solid #999;*/
/*    border-radius: 2px;*/
/*    position: fixed;*/
/*    right: 50px;*/
/*    bottom: 30px;*/
/*    opacity: 0.3;*/
/*    padding: 15px;*/

/*    }*/
/*.admin-panel:hover {*/
/*    opacity: 1;*/
/*}*/


/*.admin-panel a {*/
/*    margin: 5px 0;*/
/*    display: block;*/
/*}*/

/*a.edit, a.delete {*/
/*    display: none;*/
/*}*/




.my_pagination-container {

    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 16px;
	margin-top: 1em;
	padding-top: 2em;
	border-top: 1px solid #d7dadb;
	text-align: center;
}

.my_pagination-item {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
     font-size: 16px;
	list-style-type: none;
	display: inline-block;
	border-right: 1px solid #d7dadb;

	transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}

	.my_pagination-item:hover,
	.my_pagination-item.is-active {
		background-color: #777777;
        color: #ffffff;
		border-right: 1px solid #fff;}

		.my_pagination-link {
			color: #ffffff;
		}



.my_pagination-link {
    vertical-align: middle !important;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
     font-size: 16px;
	padding: 1.1em 1.6em;
	display: inline-block;
	text-decoration: none;
	color: #000000;

	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}

.my_pagination-item--wide {
    vertical-align: middle !important;
	@extend .pagination-item;
	list-style-type: none;
	display: inline-block;
}

.my_pagination-item--wide.my_first {
    vertical-align: middle !important;
	margin: 0 1em 0 0;
}

.my_pagination-item--wide.my_last {
    vertical-align: middle !important;
	margin: 0 0 0 1em;
}

.my_pagination-link--wide {
	text-decoration: none;
	color: #000000;
	padding: 1.1em 1.6em;
}

.my_pagination-link--wide:hover {
	color: #777777;
}

.my_pagination-link--wide.my_first:before,
.my_pagination-link--wide.my_last:after {
  font-family: 'entypo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my_pagination-link--wide.my_first::before {
	content: "\E765";
	margin-right: 0.5em;
}

.my_pagination-link--wide.my_last::after {
	content: "\E766";
	margin-left: 0.5em;
}





