{% extends 'challenge/base_challenge.html' %}
{#{% load includes %}#}
{% block content %}
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto">
            </div>
            <div class="col-md-6 col-lg-8 col-xl-6 mx-auto"
                 style="margin-bottom: 100px">
                <h2>
                    История
                </h2>

                <p style="text-indent: 20px; margin-bottom: 10px;
                margin-top: 20px">
                     <img src="../static/images/book_the_wisdom_of_crowds.jpg"
                          align="left" width="140" height="150" vspace="5"
                          hspace="5">
                    В 2004 году журналистом Джеймсом Шуровьески была опубликована книга "Мудрость толпы", где заявлялось, что при правильно заданных условиях поиск решения какой-либо проблемы с опорой на совокупные знания многих людей может быть более эффективной методикой, чем использование знаний и опыта нескольких из них. Т.е. эксперты, даже самые умные, всегда будут более ограничены, чем тысячи энтузиастов.
                    <br>Чуть позже, в 2006 году термин «краудсорсинг»
                    впервые появился и был употреблен Джеффом Хау на страницах журнала Wired.
<br>Тогда он описывал работу ресурса Open Source Footwear, где группы людей
       работали за идею, создавая компьютерные программы, после предоставляя широкой общественности результаты своего труда безвозмездно. И в качестве шутки Хау придумал такому явлению название crowdsourcing, crowd – толпа, и sourcing – ресурс, которое моментально прижилось.
                </p>
                <p style="text-indent: 20px; margin-bottom: 10px">
<br>В мире использование феномена мудрой толпы используется давно.


Например, в начале 18 века Британским государством было предложено вознаграждение за изобретение точного метода определения долготы для мореплавателей.

Так же Наполеон Бонапарт, во время военных походов в 1975 году предложил приз, размеров в 12000 франков за лучших способ сохранения пищи свежей на фронте. Эта история дала развитие современной консервной промышленности.

Одним из самых масштабных проектов современного краудсорсинга принято считать Википедию, созданную в 2001 году, где любой желающий может внести часть своих знаний в развитие Всемирной энциклопедии.

                </p>
                <hr>
                <h2>
                    О проекте CrowdOpinion
                </h2>
                <p style="text-indent: 20px;">
                    Основной задачей платформы Crowd Opinion является объединение множества разрозненных инициатив в одном месте.
Это позволит организациям по всему свету создавать проекты, направленные на решение социальных и бизнес задач в различных сферах, создавая вокруг проектов сообщество, где люди из любой точки мира могут предлагать идеи и решения, которые приведут к инновационным изменениям.

                </p>
                <p style="text-indent: 20px;">
Наша платформа создана для того, чтобы максимально использовать потенциал
                    мудрой толпы для внедрения инноваций, поиска
                    возможностей и решения проблем.
                    <br>
                    Каждый может изменить
                    мир. Мы можем помочь.
                Единственный вопрос: «Какую задачу вы хотите разрешить?!»

                </p>

{#                Платформа Crowd Opinion  основана в 2020 году, и мы хотим объединить сотни разрозненных инициатив, дав возможность организациям по всему свету создавать проекты, направленные на решение как бизнес, так и социальных задач, создавая вокруг проектов сообщество, где люди из любой точки мира предлагают идеи и решения, которые могут привести к революционным инновационным изменениям.#}
{#                <br>Наша платформа создана для того, чтобы максимально#}
{#                использовать потенциал мудрой толпы для внедрения инноваций, поиска возможностей и решения проблем.#}
{#                <br>Каждый может изменить мир.#}
{#                <br>Мы можем помочь.#}
{#                Единственный вопрос – «Какую задачу вы хотите разрешить?!»#}
                <hr>
                <h2>
                    Что дает платформа организациям?
                </h2>
                <ul class="navmenu">
                    <li> - Быстрый и легкий запуск проектов</li>
                    <li> - Обратная связь от потребителей </li>
                    <li> - Невероятные решения от инноваторов по всему
                        миру</li>
                    <li> - Доступ ко всем проектам, с огромной базой практик и
                        решений</li>
                    <li> - Поддержка службы экспертов платформы</li>
                    <li> - Идеи напрямую от вашей аудитории</li>
                    <li> - Создание своей аудитории, которая сможет помогать
                        вам в будущем</li>

                </ul>
                <hr>
                 <h2>
                    Что дает платформа инноваторам?
                </h2>
                <ul>
                    <li> - Творческая реализация</li>
                    <li> - Денежные вознаграждения</li>
                    <li> - Призы от организаций</li>
                    <li> - Поиск единомышленников</li>
                    <li> - Развитие личностных навыков</li>
                    <li> - Возможность зарекомендовать себя, как профессионала</li>
                    <li> - Шанс оставить след в истории</li>
                </ul>
                <hr>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-3 mx-auto">
            </div>

        </div>
    </div>
</section>
{% endblock %}