{% extends 'challenge/base_challenge.html' %}

{% block title %}
 {{ answer.title }} - {{ block.super }}
{% endblock %}

{% block content %}
<section id="blog">
	<!-- CONTAINER -->
	<div class="container">
		<!-- ROW -->
		<div class="row">
        <!-- BLOG BLOCK -->

                <h2 class="mt-3 mb-5">
                Ответы по проблеме: <a href="
{{ challenge.get_absolute_url }}"> {{ answers.0.challenge.title }}</a>
            </h2>

                <div class="blog_block col-lg-9 col-md-9 padbot50 mx-auto">
                {% for answer in answers %}
                    {% include 'challenge/includes/answer_card_template.html' with answer=answer challenge=challenge %}
                {% endfor %}

                <div class="leave_comment" data-animated="fadeInUp">
                <h3><b>Есть</b> идея по задаче?</h3>
                <a href="{% url 'answer_create_url' challenge.slug %}" class="contact_btn pull-left">Написать предложение</a>
			</div><!-- //LEAVE A COMMENT -->
            </div>
                {% include 'challenge/includes/side_bar.html' %}

		</div><!-- //ROW -->
	</div><!-- //CONTAINER -->
</section><!-- //BLOG -->

{% endblock %}



