{% extends 'challenge/base_challenge.html' %}

{% block title %}
 {{ challenge.title }} - {{ block.super }}
{% endblock %}


{% block content %}
 <h1 class="mt-5">
     {{ challenge.title }}
 </h1>
<p>
    {{challenge.body}}
     <a href="{{ challenge.answers.all.0.get_absolute_url }}" class="btn btn-primary">Ответы </a>

</p>
<div class="card-footer text-muted">
      {% for category in challenge.categories.all %}
         Категория:<a href="{{ category.get_absolute_url }}"> {{ category.title }}</a>
         {% endfor %}
     </div>
{% endblock %}
