{% extends 'challenge/base_challenge.html' %}

{% block title %}
    Создание проблемы -  - {{ block.super }}
{% endblock %}






{% block content %}
    <section id="single_page">
        <div class="container mt-5">
            <div class="row">
            <div class="col-lg-10 mx-auto">

                <h3> Опубликовать задачу </h3>

                <form id="comment_form" action="{% url 'challenge_create_url' %}" class="row" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group">
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                                {{ field.label }}
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}

                <div class="col-lg-8 col-md-8">
                 <input type="submit" class="contact_btn pull-left" value="Создать задачу">
                </div>
                </form>

            </div>
            </div>
        </div>
    </section>
{% endblock %}