{% extends 'challenge/base_challenge.html' %}

{% block title %}
    Создание проблемы -  - {{ block.super }}
{% endblock %}

{% block content %}

<form action="{% url 'new_post' %}" method="post">
        {% csrf_token %}
    {% for field in form %}
            <div class="form-group">

                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>

                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
    {% endfor %}
            <button type="submit" class="btn btn-primary"> Создать проблему</button>


</form>


{% endblock %}
