{% extends 'challenge/base_challenge.html' %}

{% load static %}
{% load likes_answer %}




{% block content %}
<!-- BLOG -->
<section id="blog">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <!-- BLOG BLOCK -->
            <div class="blog_block col-lg-9 col-md-9 padbot50">
                <!-- SINGLE BLOG POST -->
                <div class="single_blog_post clearfix" data-animated="fadeInUp">
                    <div class="single_blog_post_descr">
                        <div class="single_blog_post_date">{{challenge.date_pub}}</div>
                        <div class="single_blog_post_title">{{challenge.title}}</div>
                        <ul class="single_blog_post_info">
                            <li><a href="javascript:void(0);" >{{challenge.challenge_author}}</a></li>
                            <li><a href="javascript:void(0);" >
                                {% for category in challenge.categories.all %}
				                    <a href="{{ category.get_absolute_url }}"> {{ category.title }}</a>
				                {% endfor %}
                            </a></li>
                            <li><a href="{% url 'answers_list_url' challenge.slug %}"
                            >{{ challenge.answers.count }}
                                ответа</a></li>
                        </ul>
                    </div>
                    <div class="single_blog_post_img">
                        {% load thumbnail %}
                        {% thumbnail challenge.image "960x339" crop="center" upscale=True as im %}
                         <img class="card-img" src="{{ im.url }}">
                        {% endthumbnail %}
{#                        <img src="images/blog/1.jpg" alt="" />#}
                    </div>
                    <div class="single_blog_post_content">
                        <p class="margbot50"> {{ challenge.body}}</p>
                    </div>


                {% if challenge.challenge_author == user %}
                 <a href="{% url 'challenge_update_url' challenge.slug %}"
                        class="contact_btn pull-center">Редактировать</a>
                {% endif %}

                </div><!-- //SINGLE BLOG POST -->

                <!-- SINGLE BLOG POST TAG -->
{#                <div class="single_blog_post_tags margbot50" data-animated="fadeInUp">#}
{#                    <ul>#}
{#                        <li><a href="javascript:void(0);" >Fashion</a></li>#}
{#                        <li><a href="javascript:void(0);" >Shop</a></li>#}
{#                        <li><a href="javascript:void(0);" >Color</a></li>#}
{#                    </ul>#}
{#                </div><!-- //SINGLE BLOG POST TAG -->#}
                <hr>
                <!-- COMMENTS -->
                <div id="comments" class="margbot30" data-animated="fadeInUp">
                    <h3><b>Предложенные решения </b><span
                            class="comments_count">
                        {{ challenge.answers.count }}</span></h3>
                    <ul>
                        {% for answer in answers %}
                            {% is_liked answer.pk as is_liked_bool %}
                            {% count_likes answer.pk as likes_counter %}

                        <li class="clearfix" data-animated="fadeInUp">
                            <div class="pull-left avatar">
                                <a href="javascript:void(0);" ><img src="images/avatar1.jpg" alt="" /></a>
                            </div>
                            <div class="comment_right">
                                <div class="comment_info clearfix">
                                    <div class="pull-left comment_author">
                                        {{ answer.author }}</div>
                                    <div class="pull-left comment_inf_sep">|</div>
                                    <div class="pull-left comment_date">{{ answer.date_pub }}</div>
                                    <div class="pull-left comment_inf_sep">|</div>
                                    <div class="pull-left">

                                         {% if is_liked_bool %}

                                        <a href="{% url 'answer_del_like_url' challenge.slug answer.pk 'challenge_detail_url'%}">
                                            <img src="
                                        {% static 'images/active_like.png' %}" width="23px">
                                        </a>

                                        {% else %}
                                        <a href="{% url 'answer_add_like_url' challenge.slug answer.pk 'challenge_detail_url'%}">
                                            <img src="
                                         {% static 'images/disactive_like.png' %}" width="23px">
                                        </a>

                                        {% endif %}
                                        Понравилось: {{ likes_counter }}

                                    </div>


                                </div>
                                 <p>{{ answer.title }}</p>
                                <p>{{ answer.body }}</p>
                            <div>



                                    </div>


                            </div>

                        {% endfor %}
                    </ul>
                     <a href="{% url 'answers_list_url' challenge.slug %}"
                        class="contact_btn pull-center">Посмотреть все
                         ответы и прокомментировать</a>
                </div>
                <!-- //COMMENTS -->
                <hr class="margbot20">
						<!-- LEAVE A COMMENT -->
                <div class="leave_comment" data-animated="fadeInUp">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Посмотреть другие задачи</h3>
                                <a href="{% url 'challenges_list_url' %}"
                                   class="contact_btn pull-left">Вернутся назад
                                    </a>
                            </div>
                        </div>
                        <div class="row">

                        <div class="col">
                            <h3><b>Есть</b> идея по задаче?</h3>
                            <a href="
                                {% url 'answer_create_url' challenge.slug %}" class="contact_btn
                                pull-left">Написать предложение</a>
                        </div>
                    </div>
                </div>
			    </div><!-- //LEAVE A COMMENT -->
            </div><!-- //BLOG BLOCK -->
  			 {% include 'challenge/includes/side_bar.html' %}
        </div>
    </div>
</section>

{% endblock %}
