{% extends 'challenge/base_challenge.html' %}

{% block title %}
 {{ challenge.title }} - {{ block.super }}
{% endblock %}


{% block content %}
 <h1 class="mt-5">
     {{ challenge.title }}
 </h1>
<p>
    {{challenge.body}}



</p>
    <div class="card-footer text-muted">
        <a href="{% url 'answers_list_url' challenge.slug %}" class="btn btn-primary">Посмотреть ответы</a>
        <a href="{% url 'answer_create_url' challenge.slug %}" class="btn btn-primary">Предложить решение</a>

        <a href=""
        <br>
        <br>
      {% for category in challenge.categories.all %}
         Категория:<a href="{{ category.get_absolute_url }}"> {{ category.title }}</a>
         {% endfor %}
     </div>
{% endblock %}
